 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 576px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 26px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 40px auto 0 0;
  padding: 14px 42px 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 806px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  height: 525px;
  width: 593px;
  margin: 8px auto 0 -23px;
}

.u-section-1 .u-image-1 {
  height: 441px;
  object-position: 0% 65.31%;
  width: 441px;
  background-image: url("images/44a8057b-8507-4025-b73a-6261bdca13c0.jfif");
  background-position: 50% 50%;
  margin: -483px 40px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-1 .u-shape-1 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -416px;
    margin-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-1 .u-shape-1 {
    height: 333px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 360px;
    width: 360px;
    margin-top: -321px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-shape-1 {
    height: 418px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 434px;
    width: 434px;
    margin-top: -452px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-1 .u-shape-1 {
    height: 287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 308px;
    margin-top: -312px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 876px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 780px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 37px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 32px 0;
}

.u-section-2 .u-shape-1 {
  width: 494px;
  height: 476px;
  background-image: none;
  margin: 10px auto 0 21px;
}

.u-section-2 .u-image-1 {
  width: 372px;
  height: 396px;
  margin: -455px auto 0 82px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 136px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 756px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-list-1 {
  margin: 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 533px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -57px auto 0 114px;
}

.u-section-2 .u-text-5 {
  margin: 21px 0 0 114px;
}

.u-section-2 .u-list-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -57px auto 0 114px;
}

.u-section-2 .u-text-7 {
  margin: 21px 0 0 114px;
}

.u-section-2 .u-list-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: -57px auto 0 114px;
}

.u-section-2 .u-text-9 {
  margin: 21px 0 0 114px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 707px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    height: 444px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 452px;
    height: 400px;
    margin-top: -434px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 34px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 300;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 8px;
  }

  .u-section-2 .u-shape-1 {
    height: 349px;
    width: 336px;
    margin-top: 22px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 319px;
    margin-top: -339px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-2 .u-icon-1 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-2 .u-icon-2 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-2 .u-icon-3 {
    width: 76px;
    height: 76px;
    padding: 16px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-2 .u-shape-1 {
    height: 385px;
    width: 416px;
    margin-left: 37px;
  }

  .u-section-2 .u-image-1 {
    width: 466px;
    height: 361px;
    margin-top: -375px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-1 {
    height: 293px;
    width: 320px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
    height: 293px;
    margin-top: -293px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 96px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 96px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 96px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 96px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 96px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 96px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 997px;
}

.u-section-3 .u-shape-1 {
  width: 422px;
  height: 395px;
  background-image: none;
  margin: 60px auto 0 307px;
}

.u-section-3 .u-image-1 {
  width: 864px;
  height: 630px;
  margin: -597px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 507px;
  min-height: 273px;
  margin: -867px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 20px 0 0 auto;
}

.u-section-3 .u-list-1 {
  width: 613px;
  margin: -273px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 273px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 2;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 2;
}

.u-section-3 .u-shape-2 {
  width: 168px;
  height: 168px;
  margin: 370px auto -323px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 516px;
    height: 435px;
    margin-right: 179px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 852px;
    height: 621px;
    margin-top: -600px;
  }

  .u-section-3 .u-group-1 {
    width: 450px;
  }

  .u-section-3 .u-list-1 {
    width: 490px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-3 .u-shape-2 {
    width: 142px;
    height: 142px;
    margin-top: 404px;
    margin-bottom: -338px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-3 .u-shape-1 {
    width: 488px;
    height: 413px;
    margin-right: auto;
    margin-left: 102px;
  }

  .u-section-3 .u-image-1 {
    height: 550px;
    margin-top: -508px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 206px;
    margin-top: -985px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 212px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 122px;
    height: 122px;
    margin-top: 488px;
    margin-bottom: -470px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-3 .u-shape-1 {
    width: 382px;
    height: 382px;
    margin-left: 69px;
  }

  .u-section-3 .u-image-1 {
    height: 472px;
    width: 520px;
    margin-top: -447px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -1038px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-shape-2 {
    margin-bottom: -570px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-3 .u-shape-1 {
    width: 255px;
    height: 246px;
    margin-left: 32px;
  }

  .u-section-3 .u-image-1 {
    height: 309px;
    margin-top: -289px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -958px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 360px;
  }

  .u-section-3 .u-shape-2 {
    width: 98px;
    height: 98px;
    margin-top: 361px;
    margin-bottom: -633px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1263px;
}

.u-section-4 .u-shape-1 {
  width: 115px;
  height: 115px;
  margin: 83px calc(((100% - 1140px) / 2) + 123px) 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 361px;
  width: calc(((100% - 1140px) / 2) + 1090px);
  margin: -153px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 29px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 21px 68px 0 auto;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 41px 68px 0 -68px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 45px auto 0 0;
  padding: 14px 42px 15px;
}

.u-section-4 .u-shape-2 {
  width: 689px;
  height: 657px;
  background-image: none;
  margin: 103px auto 0 calc(((100% - 1140px) / 2) + 17px);
}

.u-section-4 .u-image-1 {
  width: 653px;
  height: 653px;
  margin: -623px calc(((100% - 1140px) / 2) + 210px) 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: -352px 138px 60px 952px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-right: calc(((100% - 1140px) / 2) + 199px);
  }

  .u-section-4 .u-group-1 {
    width: 940px;
    margin-top: -151px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 695px;
    height: 635px;
    margin-top: 101px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-image-1 {
    width: 676px;
    height: 676px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: calc(((100% - 1140px) / 2) + 154px);
  }

  .u-section-4 .u-text-3 {
    margin-right: 87px;
    margin-left: calc(((100% - 940px) / 2) + 744px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    margin-top: 50px;
    margin-right: calc(((100% - 1140px) / 2) + 270px);
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-top: 691px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-shape-2 {
    width: 689px;
    height: 621px;
    margin-top: -1000px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-image-1 {
    width: 679px;
    height: 679px;
    margin-top: -691px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 570px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1150px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: calc(((100% - 1140px) / 2) + 360px);
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-top: 579px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-2 {
    height: 528px;
    width: 528px;
    margin-top: -932px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-image-1 {
    height: 490px;
    margin-top: -554px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: -239px;
    margin-left: calc(((100% - 540px) / 2) + 428px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 950px;
  }

  .u-section-4 .u-shape-1 {
    width: 91px;
    height: 91px;
    margin-top: 83px;
    margin-right: calc(((100% - 1140px) / 2) + 423px);
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -449px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-shape-2 {
    width: 326px;
    height: 350px;
    margin-top: 315px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-image-1 {
    height: 350px;
    width: 326px;
    margin-top: -623px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: -39px;
    margin-left: calc(((100% - 340px) / 2) + 269px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 138px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 518px;
}

.u-section-5 .u-container-layout-2 {
  padding: 17px 30px;
}

.u-section-5 .u-shape-1 {
  width: 450px;
  height: 411px;
  background-image: none;
  margin: 53px auto 0 13px;
}

.u-section-5 .u-image-1 {
  width: 457px;
  height: 431px;
  margin: -443px auto 0 40px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 7px auto -13px 11px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 443px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-shape-2 {
  width: 456px;
  height: 408px;
  background-image: none;
  margin: 0 auto 0 36px;
}

.u-section-5 .u-image-2 {
  width: 492px;
  height: 387px;
  margin: -398px auto 11px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 443px;
}

.u-section-5 .u-container-layout-4 {
  padding: 21px 30px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 8px 0 0 auto;
  padding: 0;
}

.u-section-5 .u-shape-3 {
  width: 115px;
  height: 115px;
  margin: 8px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-shape-1 {
    height: 377px;
    width: 410px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 384px;
    height: 375px;
    margin: -376px 0 1px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 480px;
  }

  .u-section-5 .u-shape-2 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    width: 410px;
    height: 323px;
    margin-top: -352px;
    margin-bottom: 29px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-5 .u-shape-1 {
    height: 303px;
    margin-top: 107px;
    width: 300px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 293px;
    margin-top: -302px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-5 .u-shape-2 {
    height: 268px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    width: 300px;
    height: 236px;
    margin-top: -258px;
    margin-bottom: 22px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-shape-3 {
    width: 109px;
    height: 109px;
    margin-left: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 600px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-1 {
    height: 445px;
    margin-top: 108px;
  }

  .u-section-5 .u-image-1 {
    width: 500px;
    height: 419px;
    margin-top: -483px;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 462px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-2 {
    height: 344px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    width: 491px;
    height: 386px;
    margin-top: -340px;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-3 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-5 .u-shape-1 {
    height: 271px;
    margin-top: 53px;
  }

  .u-section-5 .u-image-1 {
    height: 268px;
    margin-top: -293px;
    margin-bottom: 3px;
    width: 300px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-shape-2 {
    height: 250px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    width: 310px;
    height: 244px;
    margin-top: -244px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 786px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 552px;
  margin-top: 30px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-6 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    height: 784px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1481px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 751px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 647px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-7 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 31px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 40px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 14px 42px 15px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 647px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px 30px 10px;
}

.u-section-7 .u-shape-1 {
  width: 488px;
  height: 482px;
  background-image: none;
  margin: 0 9px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 463px;
  height: 460px;
  margin: -431px auto 0 44px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-7 .u-shape-1 {
    width: 440px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 440px;
    height: 437px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-7 .u-shape-1 {
    width: 310px;
    height: 337px;
  }

  .u-section-7 .u-image-1 {
    height: 299px;
    width: 320px;
    margin-top: -299px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-7 .u-shape-1 {
    width: 473px;
    height: 451px;
    margin-right: 14px;
  }

  .u-section-7 .u-image-1 {
    width: 506px;
    height: 462px;
    margin: -462px 0 -11px auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-1 {
    width: 306px;
    height: 281px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-7 .u-image-1 {
    width: 313px;
    height: 281px;
    margin-top: -281px;
    margin-right: auto;
    margin-bottom: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1333px;
}

.u-section-8 .u-shape-1 {
  width: 1088px;
  height: 864px;
  background-image: none;
  margin: 60px auto 0 52px;
}

.u-section-8 .u-image-1 {
  width: 967px;
  height: 1030px;
  object-position: 0% 50%;
  margin: -1078px auto 0 173px;
}

.u-section-8 .u-shape-2 {
  width: 227px;
  height: 228px;
  background-image: none;
  margin: -1013px auto 0 60px;
}

.u-section-8 .u-form-1 {
  height: 522px;
  background-image: none;
  margin: 373px 548px 0 0;
}

.u-section-8 .u-form-group-4 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-8 .u-text-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 37px auto -154px;
}

.u-section-8 .u-btn-2 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-8 .u-shape-1 {
    width: 903px;
    height: 775px;
    margin-top: 55px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    height: 867px;
    width: 912px;
    margin-top: -915px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-shape-2 {
    width: 175px;
    height: 176px;
    margin-top: -933px;
    margin-left: 28px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 435px;
    margin-right: 348px;
  }

  .u-section-8 .u-text-1 {
    margin-bottom: -151px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-8 .u-shape-1 {
    width: 692px;
    height: 622px;
    margin-top: 60px;
  }

  .u-section-8 .u-image-1 {
    height: 710px;
    width: 710px;
    margin-top: -764px;
  }

  .u-section-8 .u-shape-2 {
    width: 167px;
    height: 167px;
    margin-top: -775px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 443px;
    margin-right: 128px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-bottom: -146px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-8 .u-shape-1 {
    width: 489px;
    height: 518px;
  }

  .u-section-8 .u-image-1 {
    height: 568px;
    width: 528px;
    margin-top: -641px;
  }

  .u-section-8 .u-shape-2 {
    width: 130px;
    height: 131px;
    margin-top: -638px;
    margin-left: 12px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 363px;
    margin-right: 0;
  }

  .u-section-8 .u-text-1 {
    margin-bottom: -133px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-8 .u-shape-1 {
    height: 292px;
    width: 328px;
    margin-top: 52px;
  }

  .u-section-8 .u-image-1 {
    height: 366px;
    width: 315px;
    margin-top: -341px;
  }

  .u-section-8 .u-shape-2 {
    width: 93px;
    height: 94px;
    margin-top: -436px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-top: 29px;
    margin-bottom: -67px;
  }
}